In [23]:
import pandas as pd
import numpy as np
pymoli_df = "Downloads/purchase_data.csv"
purchase_data = pd.read_csv(pymoli_df)

# Player Count

In [10]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})

#df = pd.read_csv("Player Count")
player_count

   Total Players
0            576

# Purchasing Analysis by Total

In [12]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
summary_df = summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
summary_df

# Gender Demographics

In [14]:
gender_stats = purchase_data.groupby("Gender")

total_count_gender = gender_stats.nunique()["SN"]
percentage_of_players = total_count_gender / total_players
gender_demo = pd.DataFrame({"Total Count": total_count_gender, "Percentage of Players": percentage_of_players})

gender_demo.index.name = None

gender_demo = gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2%}"})
gender_demo

# Purchasing Analysis by Gender

In [15]:
purchase_count = gender_stats["Purchase ID"].count()
avg_purchase_price = gender_stats["Price"].mean()
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_per_person = avg_purchase_total/total_count_gender

gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

gender_demo.index.name = "Gender"

gender_demo = gender_demo.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

gender_demo

# Age Demographics

In [17]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
age_group = purchase_data.groupby("Age Group")
total_count_age = age_group["SN"].nunique()
percent_age = (total_count_age/total_players)

age_demo = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percent_age})
age_demo.index.name = None
age_demo = age_demo.style.format({"Percentage of Players":"{:,.2%}"})

age_demo

# Purchasing Analysis by Age

In [18]:
purchase_count_age = age_group["Purchase ID"].count()
avg_purchase_price = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
avg_purchase_age = total_purchase_value/total_count_age

age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_age})

age_demo.index.name = None

age_demo = age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})
age_demo

# Top Spenders

In [20]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_spender,
                             "Total Purchase Value":purchase_total_spender})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders = formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})
formatted_spenders

# Most Popular Items

In [21]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted = popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

popular_formatted

# Most Profitable Items

In [24]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted = popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
popular_formatted